<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>Electronic Shopping</title>
    <link type="text/css" href="menu.css" rel="stylesheet" />
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="menu.js"></script>
    <style>
A.menulink {
display: block;
width: 198px;
height: 40px;
text-align: left;
text-decoration: none;
font-family:arial;
font-size:16px;
color: black;
BORDER: none;
}

A.menulink:hover 
{
font-family:arial;
font-size:16px;
color:white;
border: solid 1px #56A5EC;
background-color:#56A5EC;
}

</style>

<script>

/*
CSS Menu highlight- By Marc Boussard (marc.boussard@syntegra.fr)
Modified by DD for NS4 compatibility
Visit http://www.dynamicdrive.com for this script
*/

var ns4class=''
</script>
</head>
<body bgcolor=#56A5EC>
<style type="text/css" >
* { margin:0px auto;
    padding:0;
    
}

body {
    width:920px;
    height:410px;  
}
div#menu {

}

div#copyright { display: none; }
    .style1
    {
        height: 30px;
        width: 251px;
    }
    </style>
    <form id="form1" runat="server" >

<table align="center" frame="box" 
        
        style="background-image: none; background-repeat: no-repeat; background-color: white; font-family :Algerian"  ><tr ><td>
    <asp:Image ID="Image1" ImageUrl ="~/images/banner1.jpg" Height ="210px"  
        Width ="1051px" runat="server" /></td></tr>
        <tr><td id="menu">

    <ul class="menu">
        <li><a href="#" class="parent"><span>Home</span></a>
            
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a href="#" class="parent"><span>New arrivals</span></a>
            <div><ul>
                <li><a href="Laptop.aspx"><span>Laptop</span></a></li>
             <li><a href="Mobiles.aspx"><span>Mobiles</span></a></li>
              <li><a href="Pendrive.aspx"><span>Pendrives</span></a></li>
              <li><a href="Mouse.aspx"><span>Mouse</span></a></li>
                <li><a href="Speaker.aspx" ><span>Speakers</span></a></li>
            </ul></div>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a href="Login.aspx"><span>My Account</span></a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%--<li class="last"><a href="CART.aspx"><span>View Cart</span></a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <li class="last"><a href="#"><span>Contact Us</span></a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; --%>
    </ul>

</td>
</tr>
<tr><td>

<table ><tr valign=top ><td>

<table style="vertical-align:top; width: 204px;"  >
<tr ><br />
<td width="100%" height="60px"  bgcolor="#56A5EC" align="center" style="font-family :Algerian"><b>PRODUCTS<b></td></tr>
  <tr style="font-family :Algerian">
    <td width="100%"  align="center"><a href="laptop.aspx" class="menulink" class=&{ns4class};>LAPTOP</a></td>
  </tr>
  <tr style="font-family :Algerian">
    <td width="100%" align="center"><a href="Mobiles.aspx" class="menulink" class=&{ns4class};>MOBILE</a></td>
  </tr>
  <tr style="font-family :Algerian" >
    <td width="100%" align="center"><a href="Pendrive.aspx" class="menulink" class==&{ns4class};>PENDRIVE</a></td>
  </tr>
  <tr style="font-family :Algerian">
    <td width="100%" align="center"><a href="Mouse.aspx" class="menulink" class=&{ns4class};>MOUSE</a></td>
  </tr>
  <tr style="font-family :Algerian">
    <td width="100%" align="center"><a href="Speaker.aspx" class="menulink" class=&{ns4class};>SPEAKER</a></td>
  </tr> 
  <tr style="font-family :Algerian">
    <td width="100%" align="center"><a href="UserViewRanks.aspx" class="menulink" class=&{ns4class};>PRODUCT RANKING</a></td>
  </tr> 
</table>
  
  
</td><td valign ="top" style ="width :820px">

       <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        

        </asp:ContentPlaceHolder>
        </td></tr></table>




    </form>
</body>
</html>

